.about_us {
  .main_intro {
    padding: 30px 0;
    @media (max-width: 768px) {
      display: block;
    }
    display: grid;
    grid-template-columns: 30% 70%;
    h1 {
      max-width: 60%;
    }
    .right_box {
      p {
        font-size: 20px;
      }
    }
  }
  .first_image {
    img {
      width: 100%;
      border-radius: 16px;
    }
  }
  .section {
    margin: 50px 0;
    .section_wrapper {
      @media (max-width: 768px) {
        display: block;
      }
      display: grid;
      grid-template-columns: 35% 65%;
      .image_box {
        img {
          width: 100%;
          border-radius: 16px;
        }
      }
      .content_box {
        @media (max-width: 768px) {
          margin-left: 0;
          margin: 10px 0;
        }
        margin-left: 20px;
        background-color: #f3f3f3;
        border-radius: 16px;
        .content_box_wrapper {
          @media (max-width: 768px) {
            padding: 15px;
          }
          padding: 30px;
          .subtitle {
            margin-bottom: 20px;
            &::after {
              content: "";
              display: block;
              width: 100%;
              margin-top: 10px;
              height: 1px;
              background-color: #cfcfcf;
            }
          }
          p {
            color: #515151;
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .reverse {
      @media (max-width: 768px) {
        display: block;
      }
      display: grid;
      grid-template-columns: 65% 35%;
      .content_box {
        @media (max-width: 768px) {
          margin-right: 0;
          margin: 10px 0;
        }
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }
  .our_team_members {
    .title {
      margin-bottom: 20px;
    }
    .team_members {
      @media (max-width: 768px) {
        display: block;
      }
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      .member {
        @media (max-width: 768px) {
          margin: 10px 0;
          width: 100%;
        }
        width: 90%;
        text-align: center;
        margin: 0 10px;
        img {
          @media (max-width: 768px) {
            width: 250px;
            height: 250px;
          }
          width: 300px;
          height: 300px;
          border-radius: 50%;
        }
        h3 {
          margin: 10px 0;
        }
      }
    }
  }
}
