.autorent {
  .autorent_wrapper {
    .intro {
      h1 {
        margin-bottom: 20px;
        font-weight: 500;
      }
    }
    .this_wrap {
      .autorent_wrap {
        background: linear-gradient(225deg, #42505e 0%, #262c32 100%);
        border-radius: 10px;
        .these_wrapper {
          @media (max-width: 768px) {
            display: block;
          }
          display: grid;
          grid-template-columns: 50% 50%;
          align-items: center;
          padding: 30px;
          width: 100%;
          background: linear-gradient(147deg, #393b43 0%, #000 100%);
          border-radius: 10px;
        }
        .left_box {
          h1 {
            @media (max-width: 768px) {
              font-size: 20px;
            }
            color: #fff;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 20px 0;
          }
          button {
            @media (max-width: 768px) {
              padding: 5px 8px;
              font-size: 16px;
            }
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 5px;
            background: #4ee16e;
            color: #fff;
            font-size: 20px;
            border: none;
          }
        }
        .right_box {
          @media (max-width: 768px) {
            padding: 30px 0;
          }
          img {
            width: 100%;
            margin-bottom: -50px;
          }
        }
      }
    }
  }
}
