.business_tours {
  position: relative;

  .business_tours_wrapper {
    overflow: hidden;
    .background_section {
      background: url("https://wallpapercave.com/wp/wp8815597.jpg");
      height: 84vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top right;
      .background_wrapper {
        background-color: #00000023;
        position: relative;
        backdrop-filter: blur(5px);
        height: 84vh;
        img {
          position: absolute;
          right: 20px;
          bottom: 0;
        }
      }
      .content_grid {
        display: flex;
        align-items: center;
        height: 84vh;
        .intro {
          p {
            color: #383737;
            font-weight: 700;
            line-height: 1.5em;
            font-size: 25px;
            max-width: 40%;
            padding-bottom: 50px;
          }
          h2 {
            font-size: 35px;
            font-weight: 800;
            color: #1b4dd6;
          }
        }
      }
    }
    .serrvices {
      .services_wrapper {
        .intro {
          margin: 50px 0;
          h1 {
            text-align: center;
            margin-bottom: 30px;
          }
          p {
            color: #383737;
            font-weight: 500;
            line-height: 1.5em;
            font-size: 22px;
            max-width: 100%;
            padding-bottom: 50px;
          }
        }
      }
    }
  }
}
