@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.category {
  margin-top: 50px;
}

.pt_100 {
  padding-top: 90px;
}
.pt_70 {
  padding-top: 65px;
}
@media only screen and (max-width: 768px) {
  .pt_100 {
    padding-top: 0;
  }
}

.add_cart {
  transition: 0.5s ease;
}

.col .tour_name {
  height: 80px;
}
@media (min-width: 1200px) {
  .MuiContainer-maxWidthLg {
    max-width: 1400px !important;
  }
}
.no-scroll {
  overflow-y: hidden;
}
.green_btn {
  background-color: #4ee16e;
  color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  border: 1px solid #4ee16e;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}
.green_btn:hover {
  background-color: #fff;
  color: #4ee16e;
}
