.hidden_welcome_modal {
  display: none;
}
body {
  // overflow-y: auto !important;
}
@import "../styles/header.scss";
@import "../styles/hero.scss";
@import "../styles/religious.scss";
@import "../styles/business.scss";
@import "../styles/basic.scss";
@import "../styles/excursion.scss";
@import "../styles/countries.scss";
@import "../styles/autorent.scss";
@import "../styles/footer.scss";
@import "../styles/cart.scss";
@import "../styles/category_page.scss";
@import "../styles/tourpackage.scss";
@import "../styles/team.scss";
@import "../styles/contacts.scss";
@import "../styles/mobheader.scss";
@import "../styles/news.scss";
@import "../styles/OrderModal.scss";
@import "../styles/video.scss";
@import "../styles/make_trip.scss";
@import "../styles/banners.scss";
@import "../styles/whatsapp.scss";
@import "../styles/background.scss";
@import "../styles/cities.scss";
@import "../styles/business_tours.scss";
@import "../styles/top_header.scss";
@import "../styles/visa.scss";
@import "../styles/uzbekistan.scss";
@import "../styles/religion_page.scss";
@import "../styles/home_video.scss";
@import "../styles/about_us.scss";
@import "../styles/become_partner.scss";

// Tourpackage

.loeader_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background: linear-gradient(
  //   270deg,
  //   rgba(229, 204, 175, 0.3) 0%,
  //   rgba(255, 255, 255, 0) 52.08%,
  //   rgba(229, 204, 175, 0.3) 100%
  // );
  background: transparent;
  svg {
    width: 60px;
    height: 60px;
  }
}

.Process {
  margin-top: 200px;
  height: 100vh;
  text-align: center;
}
.backToTop {
  @media (max-width: 768px) {
    display: none;
  }
}

/* Notification */

.success-notification {
  position: fixed;
  top: 100px;
  right: 5%;
  // transform: translateX(-50%);
  background-color: #4caf50; // Green color for success
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none; // Initially hidden
  transition: opacity 5s ease-in-out; // Add a smooth transition

  &.visible {
    display: block; // Display when the "visible" class is applied
    opacity: 1; // Make it fully visible
  }
}
