.hidden_welcome_modal {
  display: none;
}
body {
  // overflow-y: auto !important;
}
@import "../styles/header.scss";
@import "../styles/hero.scss";
@import "../styles/religious.scss";
@import "../styles/business.scss";
@import "../styles/basic.scss";
@import "../styles/excursion.scss";
@import "../styles/countries.scss";
@import "../styles/autorent.scss";
@import "../styles/footer.scss";
@import "../styles/cart.scss";
@import "../styles/category_page.scss";
@import "../styles/tourpackage.scss";
@import "../styles/team.scss";
@import "../styles/contacts.scss";
@import "../styles/mobheader.scss";
@import "../styles/news.scss";
@import "../styles/OrderModal.scss";
@import "../styles/video.scss";
@import "../styles/make_trip.scss";
@import "../styles/banners.scss";
@import "../styles/whatsapp.scss";
@import "../styles/background.scss";
@import "../styles/cities.scss";
@import "../styles/business_tours.scss";
@import "../styles/top_header.scss";
@import "../styles/visa.scss";
@import "../styles/uzbekistan.scss";
@import "../styles/religion_page.scss";
@import "../styles/home_video.scss";
@import "../styles/about_us.scss";
@import "../styles/become_partner.scss";
@import "../styles/tour_card.scss";
@import "../styles/usefuls_page.scss";

// Tourpackage

.loader_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff60;
  opacity: 1;
  backdrop-filter: blur(10px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  &.hidden {
    opacity: 0;
    transform: scale(0.9);
  }

  svg {
    width: 60px;
    height: 60px;
  }
}

.Process {
  margin-top: 200px;
  height: 100vh;
  text-align: center;
}
.backToTop {
  button {
    bottom: 90px;
  }
  @media (max-width: 768px) {
    button {
      bottom: 20px !important;
    }
  }
}

/* Notification */

.success-notification {
  position: fixed;
  top: 100px;
  right: 5%;
  // transform: translateX(-50%);
  background-color: #4caf50; // Green color for success
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none; // Initially hidden
  transition: opacity 5s ease-in-out; // Add a smooth transition

  &.visible {
    display: block; // Display when the "visible" class is applied
    opacity: 1; // Make it fully visible
  }
}
