.hiddenDiv {
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  top: 100px;
  z-index: 100;
  width: 88%;
  left: 6%;
  height: 85vh;
  transition: max-height 0.5s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-height: 85vh; /* Set a value based on your content */
  overflow: hidden;
  .tab-list {
  }
  .ant-tabs-content {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 5px; /* For Firefox */
    scrollbar-color: #0073db #0073db; /* For Firefox */

    /* For WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 5px; /* Set the width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #0073db; /* Color of the thumb */
      border-radius: 5px; /* Roundness of the thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: lightgrey; /* Color of the track */
    }
  }
  .inner_wrap {
    padding: 10px;
    .services_tab_title {
      display: flex;
      align-items: center;
    }
    .guides {
      .guides_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        grid-template-columns: 33% 33% 33%;
        flex-wrap: wrap;
        .guide {
          width: 32.5%;
          height: 260px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          border-radius: 6px;
          margin-top: 15px;
          .guide_wrapper {
            height: 260px;
            display: grid;
            grid-template-columns: 40% 60%;
            padding: 5px;
            position: relative;
            .guide_image {
              padding: 5px;
              img {
                width: 100%;
                border-radius: 6px;
                height: 200px;
                object-fit: cover;
              }
            }
            .guide_about {
              margin-left: 10px;
              position: relative;
              .description {
                font-size: 18px;
                margin: 10px 0;
                .guide_slogan {
                  font-size: 14px;
                }
              }
              .guide_rating {
                margin: 10px 0;
                .rating_wrapper {
                  display: flex;
                  align-items: center;
                  svg {
                    font-size: 14px;
                    color: #f38630;
                  }
                }
              }
              .guide_languages {
                margin: 10px 0;
                p {
                  display: flex;
                  justify-content: flex-start;
                  flex-wrap: wrap;
                  span {
                    display: flex;
                    align-items: center;
                    svg {
                      color: #4ee16e;
                    }
                  }
                }
              }
            }
            .guide_price {
              width: 100%;
              position: absolute;
              bottom: 10px;
              left: 10px;
              .price_wrapper {
                display: flex;
                align-items: center;
                justify-content: space-around;
                .add_to_cart {
                  button {
                    display: flex;
                    align-items: center;
                    svg {
                      margin-left: 5px;
                      font-size: 20px;
                    }
                  }
                }
                .price {
                  display: flex;
                  margin-left: auto;
                  p {
                    margin-right: 20px;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.hidden {
  max-height: 0;
}
