.news {
  .intro {
    margin-bottom: 50px;
    text-align: center;
    h1 {
      @media (max-width: 768px) {
        font-size: 28px;
        text-align: left;
      }
      //   font-size: 28px;
    }
  }
  .content {
    p {
      @media (max-width: 768px) {
        font-size: 16px;
      }
      color: #000;
      line-height: 24px;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      //   all: revert;
    }
    margin: 20px 0;
  }
  .news_img {
    text-align: center;
    img {
      width: 100%;
    }
  }
}
