.ReliogiosTours {
  .religious_tours {
    .religious_wrapper {
      .background_section {
        background: url("/img/registan.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 86vh;
        .this_wrapper {
          background-color: #00000075;
          height: 86vh;
          .content {
            height: 86vh;
            display: flex;
            align-items: center;
            position: relative;
            text-align: center;
            .wrap {
              width: 100%;
              color: #fff;
              position: relative;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              h1 {
                // position: absolute;
                max-width: 100%;
                width: 100%;
                margin-bottom: 50px;
                font-weight: 800;
                bottom: 50px;
              }
              p {
                font-size: 20px;
                max-width: 100%;
                font-weight: 500;
              }
            }
          }
        }
      }
      .second {
        background: url("/img/budda_back.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      .third {
        background: url("/img/christian_back.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      .tours_wrap {
        @media (max-width: 768px) {
          display: block;
        }
        display: grid;
        grid-template-columns: 74% 24%;
        .about {
          margin: 50px 0;
          p {
            @media (max-width: 768px) {
              font-size: 18px;
            }
            font-size: 20px;
            font-weight: 500;
          }

          .subsection {
            margin: 20px 0;
            h2 {
              margin-bottom: 20px;
            }
            .these_wrap {
              @media (max-width: 768px) {
                display: block;
              }
              display: grid;
              grid-template-columns: 49% 50%;
              color: #fff;
              .section_wrap {
                @media (max-width: 768px) {
                  margin-bottom: 20px;
                  height: 360px !important;
                  img {
                    height: 360px !important;
                  }
                  .content {
                    height: 360px !important;
                  }
                }
                border-radius: 10px;
                height: 400px;
                position: relative;
                overflow: hidden;
                img {
                  transition: 0.3s ease;
                  height: 400px;
                  object-fit: cover;
                  position: relative;
                  z-index: -1;
                  border-radius: 10px;
                  width: 100%;
                }
                .wrap_content {
                  .content {
                    width: 100%;
                    border-radius: 10px;
                    padding: 20px;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    background-color: #0000006b;
                    height: 400px;
                    .hidden_texts {
                      position: absolute;
                      transition: 0.5s ease;
                      bottom: -60px;
                      h3 {
                        font-weight: 800;
                      }
                      p {
                        overflow: hidden;
                        transition: 0.5s ease;
                        visibility: hidden;
                        opacity: 0;
                        padding-right: 10px;
                      }
                    }
                  }
                }
                &:hover {
                  .content {
                    backdrop-filter: blur(5px);
                    .hidden_texts {
                      overflow: auto;
                      visibility: visible;
                      opacity: 1;
                      bottom: 100px;
                      p {
                        overflow: auto;
                        visibility: visible;
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              .section_wrap:nth-child(2) {
                @media (max-width: 768px) {
                  margin-left: 0;
                }
                margin-left: 10px;
              }
            }
          }
        }
        .content_box {
          .wrapper_section {
            @media (max-width: 768px) {
              display: block;
            }
            display: flex;
            grid-template-columns: 74% 26%;
          }
        }
        .tours_box {
          @media (max-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
          }
          .intro {
            margin-top: 40px;
            margin-bottom: 20px;
          }
          .col {
            @media (max-width: 768px) {
              width: 100%;
              margin: 0;
              margin-bottom: 40px;
              &:nth-child(1) {
                margin-left: inherit;
              }
            }
            background-color: #fff;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin: 0 15px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 20px;

            &:hover {
              img {
                transform: scale(1.05);
              }
            }
            .col_wrap {
              .tour_img {
                border-radius: 5px;
                overflow: hidden;
                position: relative;
                img {
                  transition: 0.3s ease;
                  width: 100%;
                  border-top-right-radius: 10px;
                  border-top-left-radius: 10px;
                  border-radius: 5px;
                  height: 300px;
                  object-fit: cover;
                }
                // .add_cart {
                //   position: absolute;
                //   bottom: 0;
                //   right: 10px;
                //   background-color: #fff;
                //   border: none;
                //   padding: 10px;
                //   border-top-right-radius: 5px;
                //   border-top-left-radius: 5px;
                //   &:hover {
                //     cursor: pointer;
                //   }
                // }
              }
              .tour_name {
                text-align: center;
                padding: 10px;
                padding-bottom: 0;
                h2 {
                  font-size: 18px;
                }
                &:hover {
                  color: #004074;
                }
              }
              .bottom {
                display: flex;
              }
              .tour_details {
                padding: 10px;
                width: 100%;
                padding-top: 0;
                p {
                  font-size: 18px;
                  font-weight: 600;
                  display: flex;
                  align-items: center;
                  &:nth-child(2) {
                    margin-left: auto;
                  }
                  svg {
                    margin-right: 5px;
                  }
                }
                .from {
                }
              }
              .tour_link {
                display: block;
                margin-top: 10px;
                width: 100%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
