.TopHeader {
  .right_links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    // padding: 10px;
    p {
      margin-left: 10px;
      transition: 0.1s ease;
      &:hover {
        font-weight: 500;
      }
    }
  }
}
