.TopHeader {
  @media (max-width: 768px) {
    display: none;
  }
  position: relative;
  z-index: 10000;
  .right_links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    // padding: 10px;
    p {
      margin-left: 10px;
      transition: 0.1s ease;
      &:hover {
        font-weight: 500;
      }
    }
  }
}
